:root {
	--hexagon-path:
		/* outside path */ 
		50% 12.5%, /* outer-top */ 
		20% 31.5%, /* top-left */
		20% 68.5%, /* bottom-left */ 
		50% 87.5%, /* bottom */ 
		80% 68.5%, /* bottom-right */ 
		80% 31.5%, /* top-right */ 	
		50% 12.5%, /* back to outer-top */ 

		/* inside path */ 
		50% 15%, /* inner-top */ 
		78% 32.7%, /* top-right */ 
		78% 67.2%, /* bottom-right */ 
		50% 85%, /* bottom */ 
		22% 67.2%, /* bottom-left */ 
		22% 32.7%, /* top-left */
		50% 15%; /* back to inner-top */ 

}

p {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
}

img {
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	opacity: 30%;
	transform: scale(1.2);	

}

.canvas {
	width: 90vmin;
	aspect-ratio: 1;
	--gradient: #0004 0 0.125%, #0000 0 9.875%, #0004 0 10%;
	background: 
		repeating-linear-gradient(var(--gradient)),
		repeating-linear-gradient(to right, var(--gradient)) 
		;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.canvas div,
.canvas div::before,
.canvas div::after {
	position: absolute;
	display: block;
	box-sizing: border-box;
}

.frame {
	opacity: 100%;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.frameborder {
	opacity: 100%;
	background: black;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	clip-path: polygon(var(--hexagon-path)); 
}

.rose {
	--dimensions: 100%;
	width: var(--dimensions);
	height: var(--dimensions);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: black;
	clip-path: polygon(var(--path));
}

.main {
	--dimensions: 100%;
	--path:
		50.67% 84.7%,
		50.9% 67.41%,
		57.62% 68.29%,
		67.71% 62.53%,
		70.85% 54.99%,
		68.61% 56.32%,
		66.37% 61.42%,
		57.4% 66.52%,
		53.14% 66.08%,
		64.13% 58.76%,
		52.47% 64.97%,
		53.81% 61.2%,
		63% 55.65%,
		68.61% 56.54%,
		70.85% 54.99%,
		62.78% 54.1%,
		52.91% 59.87%,
		50.9% 63.86%,
		50.9% 54.77%,
		63.23% 47.45%,
		63.45% 32.82%,
		50.0% 25.06%,
		50% 26.83%,
		61.66% 33.7%,
		61.43% 46.56%,
		50% 52.99%,
		38.57% 46.78%,
		38.79% 33.26%,
		50% 26.83%,
		50% 24.83%,
		37% 32.59%,
		36.77% 47.45%,
		49.33% 54.55%,
		49.33% 69.62%,
		47.53% 65.63%,
		37.89% 60.09%,
		30.27% 60.75%,
		32.29% 62.31%,
		37.67% 61.64%,
		46.19% 66.52%,
		47.76% 70.51%,
		37.44% 65.19%,
		47.09% 71.4%,
		42.83% 71.84%,
		34.53% 67.41%,
		32.29% 62.31%,
		30.0% 60.56%,
		32.96% 68.07%,
		42.6% 73.84%,
		49.33% 73.17%,
		49.33% 84.26%,
		50.9% 84.48%
		;
	opacity: 100%;
}

.bloom1 {
	--path:
		;
	opacity: 0%;
}

.bloom2 {
	--path:
		;
	opacity: 0%;
}

.bloom3 {
	--path:
		;
		opacity: 0%;
}

.bloom4 {
	--path:
		;
	opacity: 0%;
}

.bloom5 {
	--path:
		;
	opacity: 0%;
}
