body {
	--hexagon-path:
		/* outside path */ 
		50% 12.5%, /* outer-top */ 
		20% 31.5%, /* top-left */
		20% 68.5%, /* bottom-left */ 
		50% 87.5%, /* bottom */ 
		80% 68.5%, /* bottom-right */ 
		80% 31.5%, /* top-right */ 	
		50% 12.5%, /* back to outer-top */ 

		/* inside path */ 
		50% 15%, /* inner-top */ 
		78% 32.7%, /* top-right */ 
		78% 67.2%, /* bottom-right */ 
		50% 85%, /* bottom */ 
		22% 67.2%, /* bottom-left */ 
		22% 32.7%, /* top-left */
		50% 15%; /* back to inner-top */ 

}

p {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
}

img {
	/* 153px 164px (93%) */
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: scale(1.08);
	opacity: 30%;
	border: solid 3px black;
}

.canvas {
	width: 90vmin;
	aspect-ratio: 1;
	--gradient: #0004 0 0.125%, #0000 0 9.875%, #0004 0 10%;
	background: 
		repeating-linear-gradient(var(--gradient)),
		repeating-linear-gradient(to right, var(--gradient)) 
		;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.canvas div,
.canvas div::before,
.canvas div::after {
	position: absolute;
	display: block;
	box-sizing: border-box;
}

.frame {
	opacity: 100%;
	background: black;
	width: 90%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	clip-path: polygon(var(--hexagon-path)); 
}

.bloom {
	--dimensions: 31%;
	background: black;
	width: var(--dimensions);
	height: var(--dimensions);
	top: 41%;
	left: 50%;
	transform: translate(-50%, -50%);
	clip-path: polygon(var(--hexagon-path)); 
}
