
p {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
}

.cartoon {
	width: 90vmin;
	aspect-ratio: 1;
	background: #f002;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cartoon *,
.cartoon *::before,
.cartoon *::after {
	position:absolute;
	box-sizing: border-box;
}

.cartoon *:hover {
	background-color: cyan;
	border-style: dashed;
	border-width: 1px;
	border-radius: 0;
}

.head {
	border-width: 4px;
	border-style: solid;
	border-color: black;
	border-radius: 50%;
	height: 70%;
	width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	background-color:chocolate;
}

.eyes {
	background-color: black;
	border-radius: 50%;
	width: 15%;
	height: 20%;
	position: absolute;
	top: 20%;
}

.left_eye {
	left: 25%;
}

.right_eye {
	right: 25%;
}

.pupils {
	background-color: white;
	position: absolute;
	top: 25%;
	border-radius: 50%;
	width: 30%;
	aspect-ratio: 1;
	left: 25%;
}

.snout {
	background-color: white;
	border-style: solid;
	width: 60%;
	height: 45%;
	border-radius:50%;
	position: absolute;
	top: 45%;
	left: 20%;
}

.nose {
	border-radius: 50% 50% 50% 50% / 27% 27% 73% 73% ;
	background-color: black;
	width: 34%;
	height: 34%;
	position: absolute;
	top: 20%;
	left: 33%;
}

.nose-tip {
	background-color: white;
	position: absolute;
	top: 15%;
	border-radius: 50%;
	width: 34%;
	height: 15%;
	left: 33%;
}

.vertical {
	background-color: black;
	width: 3%;
	height: 18%;
	position: absolute;
	top: 54%;
	left: 49%;
}

.grin {
	background-color: black;
	width: 30%;
	height: 15%;
	position: absolute;
	top: 66%;
	clip-path: polygon(1% 23%, 11% 45%, 36% 68%, 52% 68%, 66% 64%, 75% 48%, 88% 29%, 95% 19%, 96% 36%, 90% 53%, 81% 69%, 71% 80%, 53% 85%, 36% 86%, 17% 77%, 9% 64%, 0% 54%);
	left: 21%;
}

.grin + .grin {
	transform: scaleX(-1) translate(-96%, 0);
}

.ear {
	border-width: 4px;
	border-style: solid;
	border-color: black;
	border-radius: 50%;
	width: 18%;
	left: 50%;
	top: 50%;
	aspect-ratio: 1;
	background-color:chocolate;
}

.left-ear {
	transform: translate(-160%, -230%);
}

.right-ear {
	transform: translate(60%, -230%);
}

.inner-ear {
	border-radius: 50%;
	width: 55%;
	aspect-ratio: 1;
	background-color: pink;
	top: 25%;
	left: 27%;
}


